<h3> Artificial Neural Networks - Project 2021 - 2022 <h3>

In [2]:
# Importing Libraries
import matplotlib.pyplot as plt
from sklearn import datasets
import pandas as pd
import numpy as np

In [3]:
dataset = pd.read_excel('fertility.xlsx')
dataset

,Season,Age,ChildishDiseases,Accident,Surgical,HighFevers,FrequencyOfAlcohol,Smoking,Sitting,Diagnosis
0,-33,69,0,1,1,0,8,0,88,N
1,-33,94,1,0,1,0,8,1,31,O
2,-33,5,1,0,0,0,1,-1,5,N
3,-33,75,0,1,1,0,1,-1,38,N
4,-33,67,1,1,0,0,8,-1,5,O
...,...,...,...,...,...,...,...,...,...,...
95,-1,67,1,0,0,0,1,-1,5,N
96,-1,61,1,0,0,0,8,0,5,N
97,-1,67,1,1,1,0,1,-1,31,N
98,-1,64,1,0,1,0,1,0,19,N
99,-1,69,0,1,1,0,6,-1,19,N

<p> We need to represend data in form of numbers so the whole dataset to be classified properly <p>

In [4]:
dataset['Diagnosis'] = dataset['Diagnosis'].replace(['N'],0)     
dataset

,Season,Age,ChildishDiseases,Accident,Surgical,HighFevers,FrequencyOfAlcohol,Smoking,Sitting,Diagnosis
0,-33,69,0,1,1,0,8,0,88,0
1,-33,94,1,0,1,0,8,1,31,O
2,-33,5,1,0,0,0,1,-1,5,0
3,-33,75,0,1,1,0,1,-1,38,0
4,-33,67,1,1,0,0,8,-1,5,O
...,...,...,...,...,...,...,...,...,...,...
95,-1,67,1,0,0,0,1,-1,5,0
96,-1,61,1,0,0,0,8,0,5,0
97,-1,67,1,1,1,0,1,-1,31,0
98,-1,64,1,0,1,0,1,0,19,0
99,-1,69,0,1,1,0,6,-1,19,0

In [5]:
dataset['Diagnosis'] = dataset['Diagnosis'].replace(['O'],1)     
dataset

,Season,Age,ChildishDiseases,Accident,Surgical,HighFevers,FrequencyOfAlcohol,Smoking,Sitting,Diagnosis
0,-33,69,0,1,1,0,8,0,88,0
1,-33,94,1,0,1,0,8,1,31,1
2,-33,5,1,0,0,0,1,-1,5,0
3,-33,75,0,1,1,0,1,-1,38,0
4,-33,67,1,1,0,0,8,-1,5,1
...,...,...,...,...,...,...,...,...,...,...
95,-1,67,1,0,0,0,1,-1,5,0
96,-1,61,1,0,0,0,8,0,5,0
97,-1,67,1,1,1,0,1,-1,31,0
98,-1,64,1,0,1,0,1,0,19,0
99,-1,69,0,1,1,0,6,-1,19,0

<p> We are sorting the dataset in order of Diagnosis columns which created immidietly the Target dataset for the neural network training ( Activation function split )<p>

In [11]:
datasetNonDublicates = dataset.drop_duplicates(keep='first')
datasetNonDublicates.head(50)

,Season,Age,ChildishDiseases,Accident,Surgical,HighFevers,FrequencyOfAlcohol,Smoking,Sitting,Diagnosis
0,-33,69,0,1,1,0,8,0,88,0
1,-33,94,1,0,1,0,8,1,31,1
2,-33,5,1,0,0,0,1,-1,5,0
3,-33,75,0,1,1,0,1,-1,38,0
4,-33,67,1,1,0,0,8,-1,5,1
5,-33,67,1,0,1,0,8,0,5,0
6,-33,67,0,0,0,-1,8,-1,44,0
7,-33,1,1,1,1,0,6,-1,38,0
8,1,64,0,0,1,0,8,-1,25,0
9,1,61,1,0,0,0,1,-1,25,0
10,1,67,1,1,0,-1,8,0,31,0
11,1,78,1,1,1,0,6,0,13,0
12,1,75,1,1,1,0,8,1,25,0
13,1,81,1,0,0,0,1,-1,38,0
14,1,94,1,1,1,0,2,-1,25,0
15,1,81,1,1,0,0,1,1,5,0
16,1,64,1,0,1,0,1,-1,38,0
17,1,69,1,0,1,0,8,-1,25,1
18,1,75,1,1,1,0,1,1,25,0
19,1,67,1,0,0,0,8,1,38,1
20,1,67,0,0,1,0,8,-1,25,0
21,1,75,1,0,0,0,6,0,25,0
22,1,67,1,1,0,0,8,-1,25,0
23,1,69,1,0,1,-1,1,-1,44,1
24,1,56,1,0,1,0,1,-1,63,0
25,1,67,1,0,0,0,1,-1,25,0
26,1,67,1,0,1,0,6,-1,38,1
27,1,78,1,1,0,1,6,-1,38,1
28,1,58,0,0,1,0,1,-1,19,0
29,1,67,0,0,1,0,6,0,5,1
30,1,61,1,0,1,0,1,-1,63,0
31,1,56,1,0,0,0,1,-1,44,0
32,1,64,0,0,0,0,1,-1,63,0
33,1,58,1,1,1,0,8,0,44,0
34,1,56,1,1,1,0,1,-1,63,0
35,-1,78,1,1,0,1,6,-1,38,0
36,-1,78,1,0,1,0,1,-1,25,0
37,-1,56,1,0,1,0,1,-1,63,0
38,-1,67,0,0,1,0,6,0,5,1
39,-1,69,1,0,0,0,1,-1,31,0
40,-1,53,1,1,1,0,8,1,5,0
41,-1,56,1,1,0,0,8,1,5,0
42,-1,58,1,0,1,-1,8,1,5,0
43,-1,56,1,0,0,0,1,-1,44,0
44,-1,53,1,1,0,1,1,0,31,0
45,-1,53,1,0,0,1,1,0,44,0
46,-33,56,1,0,0,0,1,-1,63,0
47,-33,72,1,1,0,0,6,1,19,0
48,-33,64,1,1,1,0,8,-1,31,0
49,-33,75,1,1,1,0,6,-1,19,0

In [17]:
datasetSorted = datasetNonDublicates.sort_values(by='last')
datasetSorted.head(50)

KeyError: 'last'

In [ ]:
for x in ['Age']:
    q75,q25 = np.percentile(dataset.loc[:,x],[75,25])
    intr_qr = q75-q25
 
    max = q75+(1.5*intr_qr)
    min = q25-(1.5*intr_qr)
 
    dataset.loc[dataset[x] < min,x] = np.nan
    dataset.loc[dataset[x] > max,x] = np.nan

In [ ]:
df

In [7]:
df=dataset.dropna()

In [8]:
df

,Season,Age,ChildishDiseases,Accident,Surgical,HighFevers,FrequencyOfAlcohol,Smoking,Sitting,Diagnosis
0,-33,69,0,1,1,0,8,0,88,0
1,-33,94,1,0,1,0,8,1,31,1
2,-33,5,1,0,0,0,1,-1,5,0
3,-33,75,0,1,1,0,1,-1,38,0
4,-33,67,1,1,0,0,8,-1,5,1
...,...,...,...,...,...,...,...,...,...,...
95,-1,67,1,0,0,0,1,-1,5,0
96,-1,61,1,0,0,0,8,0,5,0
97,-1,67,1,1,1,0,1,-1,31,0
98,-1,64,1,0,1,0,1,0,19,0
99,-1,69,0,1,1,0,6,-1,19,0

In [9]:
X = df
x = X.drop(columns = ["Diagnosis"])
x

,Season,Age,ChildishDiseases,Accident,Surgical,HighFevers,FrequencyOfAlcohol,Smoking,Sitting
0,-33,69,0,1,1,0,8,0,88
1,-33,94,1,0,1,0,8,1,31
2,-33,5,1,0,0,0,1,-1,5
3,-33,75,0,1,1,0,1,-1,38
4,-33,67,1,1,0,0,8,-1,5
...,...,...,...,...,...,...,...,...,...
95,-1,67,1,0,0,0,1,-1,5
96,-1,61,1,0,0,0,8,0,5
97,-1,67,1,1,1,0,1,-1,31
98,-1,64,1,0,1,0,1,0,19
99,-1,69,0,1,1,0,6,-1,19

In [10]:
T = df["Diagnosis"]
T

0     0
1     1
2     0
3     0
4     1
     ..
95    0
96    0
97    0
98    0
99    0
Name: Diagnosis, Length: 100, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, T,test_size=0.30,random_state=42)

In [18]:
import neurolab as nl

np.random.seed(42)
net = nl.net.newff(nl.tool.minmax(X), [10,2]) #2 because we use 2 bits for each target
#change the activation function for the output layer
net.layers[0].transf = nl.trans.TanSig() #hidden layer
net.layers[-1].transf = nl.trans.TanSig() #hidden layer
net

In [19]:
np.random.seed(42)
# train the network
error = net.trainf = nl.train.train_gda(net,X_train, y_train, epochs=1000, show=100, lr =0.3 ,goal=0.0005)

# Plot results
plt.plot(error)
plt.xlabel('Epoch number')
plt.ylabel('Train error')
plt.grid()
plt.show();

AssertionError: